.calc{
    color: antiquewhite;
    margin-left: 5em;
    background-color: whitesmoke;
    width: 31em;
    height: 60em;
}
#screen{
    width: 80%;
    text-align: end;
    font-size: larger;
    margin-top: 2em;
    height: 3em;
    margin-left: 2em;
    pointer-events: none;
}
.btn{
    margin-top: 1em;
    font-size: larger;
    width: 3em;
    margin-left: 2em;
    height: 3em;

}


